:root{
    --primatry-color: #3f6ff3;
    --secondary-color: #e2e9fd;     

    --text-color-primary: #000000;
    --text_color_secondary: #545454;

    --h2-font-size: clamp(1.5rem, 2.5vw, 2.5rem);//2.5rem;
    --metersFont : clamp(1.2rem, 3vw, 2rem);//2rem;
    --regularFont : clamp(0.8rem, 1.8vw, 1.2rem);//1.2rem;
    --largeFont : clamp(1rem, 2vw, 1.5rem);//1.5rem;
    --iconWidth : 0.9rem;
   
    @media (prefers-color-scheme: dark) {
       
    }

    @media screen and (max-width: 48rem) {
       
    }
}

$bp-mobile: 27rem;
$bp-tablet: 48rem;

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
}

* {
    // margin: 0;    
}

ul, ol, menu, li {
    padding: 0;
    list-style: none;
    
}

html{
    // background-color: var(--margin-color,darkgrey);
    font-size: var(--regularFont,1rem);
    color: var(--text-color-primary);
}

body, main {
    background-color: var(--backgroundColor,white);    
}

h2{
    color: var(--text-color-primary);
    font-size: var(--h2-font-size, 3rem);
    text-align: center;
}

h3{
    text-align: center;
    color: var(--text_color_main);
    font-size: var(--regularFont, 2rem);
}

p{
    color: var(--text_color_secondary);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    margin: auto;
    border: 1px solid darkgray;     
    
    > *:first-child {
        align-self: flex-start;
    }
}

.u-border-radius-8{
    border-radius: 0.5rem;
}

.u-margin-top-0{
    margin-top: 0;
}

.plusButton{
    border-radius: 50%;
    aspect-ratio: 1;
    border: 1px solid black;
    margin-bottom: 0.5rem;
    font-size: var(--largeFont,1.5rem);
    cursor: pointer;

    &.disabled {
        pointer-events: none; 
        opacity: 0.5; 
    }
    
}

.notesList{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 65vh;
    min-height: 20vh;
    width: 40vw;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    overflow: auto;
    // border: 1px solid darkgray; 

    li{
        cursor: pointer;
        &:hover{
            transform: scale(1.01);
            color: darkblue;
        }
    }

    &.disabled {
        pointer-events: none; 
        opacity: 0.5; 
    }
}

.popUpForm{
    top: 2rem;
    position: absolute;
    border: 1px solid darkgray;    
    font-size: var(--largeFont);
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    width: 30vw;
    height: 20vw;  
    
    & > * {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    &:last-child{
        align-items: center;
    }
    
}

.buttonsClaster{
    display: flex;
    justify-content: space-around;
   
    button{
        font-size: var(--regularFont);
        border: 1px solid darkgray;    
        width: 5rem;  
        border-radius: 0.25rem;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }

}

.showForm{

    visibility: hidden;
    opacity: 0;
    background-color: seashell;
    z-index: 999;
    grid-column: 2/5;
    grid-row: 4/12;
    border: 1px solid darkgray;    
    
    &.active {
        opacity: 1;
        visibility: visible; 
    }
}

.topNavMenu{
    margin-left: 0.5rem;
    margin-top: 0.25rem;
}

.loginButton{
    visibility: hidden;
    opacity: 0;

    border-radius: 0.25rem;
    border: 1px solid darkgray;

    &.active {
        opacity: 1;
        visibility: visible; 
    }

    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}

.emailField{
    visibility: hidden;
    display: none;
    opacity: 0;

    &.active {
        opacity: 1;
        visibility: visible;
        display: flex; 
    }
}

.registerLine{
    font-size: var(--smallFont,0.75rem);
    color: #3f6ff3;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.shareIcon{
    width: var(--iconWidth);
    aspect-ratio: 1;   
}

.shareButton{
    cursor: pointer;
    border-radius: 50%;
    // width: var(--iconWidth);
    aspect-ratio: 1;
    border: 1px solid black;
    // padding: 0;
}

.timeAndShare{
    display: flex;
    justify-content: space-between;
    align-items: center;
}